.item {
  @extend .flex-col;

  background: $item-background;
  padding: 1rem;
  flex: 0 0 auto;
  border-radius: $border-radius;
  box-shadow: $shadow-color 0.1rem 0.1rem 0.4rem;
  margin-bottom: 1rem;
  overflow: hidden;

  &:nth-last-child(2) {
    margin-bottom: 0.2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.is-dummy {
    background: $list-background;
    padding: 0;
    min-height: 0.3rem;
    box-shadow: none;

    p {
      background: $item-background;
      padding: 1rem;
      text-align: center;
      font-size: 1.4rem;
      margin: 0.2rem;
      box-shadow: $shadow-color 0.1rem 0.1rem 0.4rem;
    }
  }
}

.item-desc {
  margin-bottom: 0.5rem;
}

.item-action {
  @extend .flex-row;

  justify-content: flex-end;
}