.bold {
  font-weight: 600;
}

.draggable {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &.is-moving {
    opacity: 0.5;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.mgn-r {
  margin-right: 0.5rem;
}

.mgn-t {
  margin-top: 1rem;
}

.primary {
  color: $primary-color;
}

.success {
  color: $success-color;
}

.title {
  @extend .bold;
  
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
}